{% extends "layout.html" %}
{% block content%}
<div class="container-fluid p-3 mb-2 bg-light text-dark" style="margin-top: 50px; height: 560px; ">
    <div class="container-fluid" style="width: 90%;">
        <h1 class="display-7 fw-bold lh-1 mb-4 mt-lg-3 text-center" style="margin-top: 11rem!important;">We sended confirmation link to your email {{email}} </h1>
        <h1 class="display-7 fw-bold lh-1 mb-5 mt-lg-3 text-center" style="font-size: 18px; margin-top: 4rem!important;">And your temporary token is {{token}} </h1>
    </div>
</div>
{% endblock %}